*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{

    margin: 0 auto;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    width: 960px;

}

.cont {
    background-color: black !important;
}