.detalle {
	display: flex;
	flex-direction: column;
	border: 3px solid hotpink;
	padding: 20px;
	border-radius: 25px;
	width: 296px;
	justify-content: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.detalle__titulo {
	font-size: 26px;
    color: white;
}