.boton {
    display: flex;

	&__count {
		margin: 0 10px;
		display: flex;
		justify-content: center;
		text-align: initial;
		top: 6px;
		position: relative;
		color: white;
	}

	&__carrito {
		position: relative;
		left: 5px;
	}	
}

.cards {
	display: flex;
	flex-direction: column;
	border: 3px solid hotpink;
	padding: 20px;
	border-radius: 25px;



	&__titulo,
	&__precio{
		color: white;
	}

	&__detalles{
		margin-top: 8px;
		position: relative;
		left: 3px;
	  }

}

.detalle__parrafo {
	color: white;
}




  .card {
	position: relative;
	background-color:  black;
	perspective: 1000px;
  }
  
  .card div {
	backface-visibility: hidden;
	border-radius: 10px;
  }
  
  .card .front {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transform: rotateY(0deg);
	transition: transform 0.6s ease-out;
	z-index: 2;
  }
  
  .card .back {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transform: rotateY(-180deg);
	transition: transform 0.6s ease-out;


  }
  
  .card.flipped .front {
	transform: rotateY(180deg);
  }
  
  .card.flipped .back {
	transform: rotateY(0deg);

  }


  .back {
	top: -432px;
	position: relative;
	/* width: ; */
	height: 10px;
}

